.home-name{
    color: #037596;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #645f61 0px 0px 20px, #c9c9c9 0px 0px 30px, #c9c9c9 0px 0px 40px, #c9c9c9 0px 0px 50px, #c9c9c9 0px 0px 75px;
    background: rgba(51, 51, 51, 0);
}