<div class="content-center">
    <div class="container">
        <h2 class="text-warning text-center font-weight-bold">
            <span>{{homeConfig.name}}</span>
            <p *ngIf="!homeConfig.devices || homeConfig.devices.length == 0" class="text-warning">Click button below to add device</p>
            <app-add-device [homeId]="homeConfig.id" class="text-danger" (newDevice)="onAddNewDevice($event)"></app-add-device>
        </h2>
        <div class="card-deck text-center">
            <app-device *ngFor="let device of homeConfig.devices" [device]="device" (controlEvent)="sendControlToServer($event)"></app-device>
        </div>
    </div>
</div>
