<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="container scroll"  *ngIf="homeList.length > 0">
            <app-home [homeConfig]="home" *ngFor="let home of homeList"></app-home>

        </div>
        <div class="container add-new-home text-warning" *ngIf="homeList.length === 0" (click)="addHome()">
                <div class="nc-icon font-weight-bold nc-settings-gear-65">Click To Add a New Home</div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by<h5>Antra SEP Java Team</h5></h6>
    </div>
</div>
