<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <h2 class="presentation-subtitle text-center">Sweet Home</h2>
            </div>
            <div class="card-deck text-center ">
                <app-device></app-device>
                <app-device></app-device>
                <app-device></app-device>
                <app-add-device></app-add-device>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by<h5>Antra SEP Java Team</h5></h6>
    </div>
</div>