.card-add-device {
    background-color: rgba(141, 139, 16, 0.7);
    border-radius: 8px;
    color: #fff;
    max-width: 450px;
    min-height: 120px;
    padding: 10px;
    z-index: 0;
    margin: 30px;
    margin-top: 50%;
    text-align: center;
    font-size: large;
    transition: transform .1s;
}
.card-add-device:hover {
    cursor: pointer;
    transform: scale(1.1); 
}