.card-device {
    background-color: rgba(50, 62, 75, 0.7);
    border-radius: 8px;
    color: #fff;
    max-width: 300px;
    min-width: 180px;
    min-height: 180px;
    padding: 10px;
    z-index: 0;
    margin: 10px;
}

.light-up {
    background: rgb(239, 233, 60);
    background: radial-gradient(circle, rgb(238, 181, 46) 0%, rgba(179, 176, 176, 0.75) 100%);
    color: #2f2222;
}