.card-device {
    background-color: rgba(50, 62, 75, 0.7);
    border-radius: 30px;
    color: #fff;
    max-width: 300px;
    min-width: 180px;
    min-height: 180px;
    padding: 10px;
    z-index: 0;
    margin: 10px;
}

.light-up {
    background: rgb(249,240,0);
    background: radial-gradient(circle, rgb(252, 244, 100) 0%, rgb(255, 247, 75) 45%, rgba(255, 255, 255, 0.62) 100%);
    color: #2f2222;
}