.card-device {
    background-color: rgba(41, 79, 119, 0.7);
    border-radius: 8px;
    color: #fff;
    max-width: 400px;
    min-height: 250px;
    padding: 30px;
    z-index: 0;
    margin: 20px;
}